<%- include("../common/header.ejs") %>
<%- include("../common/navbar.ejs") %>
<%- include("../common/sidebar.ejs") %>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section id="responsive-datatable">
                <div class="row">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Contact Us</h4>
                        </div>
                        <br>
                        <div class="card-DataTable table-responsive">
                            <table id="userTable" class="table table-hover-animation">
                                <thead>
                                    <tr>
                                        <th>S NO.</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>   
                                        <th>Subject</th>  
                                        <th>Description</th>                                                                                                                              
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% contactUsData.forEach(function(data, i) { %>
                                    <tr>
                                        <td><%= 1+i %></td>
                                        <td><%= data.name %></td>                              
                                        <td><%= data.email %></td>
                                        <td><%= data.phone_number %></td>
                                        <td><%= data.subject %></td>
                                        <td><%= data.descripition %></td>
                                        <td>
                                            <a href="/contactUsView/<%= data._id %>" class="btn btn-sm btn-outline-success">
                                                <i data-feather='eye'></i></a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class=" sidenav-overlay"></div>
<div class="drag-target"></div>

<%- include('../common/footer') %>

<script>
    setTimeout(function () {
        $("div.msg").fadeOut();
    }, 2000);
</script>

<script>
    $(document).ready(function () {
        $('#userTable').DataTable(); // Initialize DataTable for the user table
    });
</script>

<!-- <script>
    function confirmDelete(id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-outline-danger btn-sm ',
                cancelButton: 'btn btn-outline-success btn-sm '
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            reverseButtons: true
        }).then((isConfirm) => {
            if (isConfirm.isConfirmed) {
                $.ajax({
                    url: "/deleteUser",
                    type: 'post',
                    data: {
                        id: id
                    },
                    success: function (result) {}
                });
                swalWithBootstrapButtons.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                ).then(() => {
                    location.reload();
                })
            } else {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your file is safe',
                    'error'
                )
            }
        })
    }
</script> -->


